@{
    Layout = "~/Views/Shared/NguyenThanhDat_Layout.cshtml";
}
@model IEnumerable<NguyenThanhDat_211201056.Models.Entities.HangHoa>
<div class="main">
	<div class="content">
		<!-- Begin New Product -->
		<div class="content_top">
			<div class="heading">
				<h3>New Products</h3>
			</div>
			<div class="see">
				<p><a href="#">See all Products</a></p>
			</div>
		<div class="clear"></div>
		</div>
		<div class="section group">
			<div class="content_center">
			@foreach(var item in Model)
			{
				<div class="grid_1_of_4 images_1_of_4">
					<a href="preview.html"><img src="~/ThanhDat/images/@item.Anh" alt="" /></a>
					<h2>@item.TenHang</h2>
					<div class="price-details">
						<div class="price-number">
							<p><span class="rupees">$@item.Gia</span></p>
						</div>
						<div class="add-cart">
							<h4><a href="preview.html">Add to Cart</a></h4>
						</div>
						<div class="clear"></div>
					</div>
				</div>
			}
			</div>
		<!-- End New Product -->
	</div>
	</div>
</div>

@section Scripts{
	<script>
		$("li").click(function (e) {
			var id = $(this).attr("id");
			var data = { mid: id };
			//alert(id)
			$.ajax({
				url: "/BaiThi/LoaiHangByMaLoai",
				data: data,
				success: function (response) {
					$("div.content").html(response);
				}
			});
		});
	</script>
}